Temp/*
Library/*
.vs/*
ProjectSettings/XRSettings.asset
.idea/*
obj/*
Assets/Plugins/JetBrains/*
*.swp
*.sln
Assets/res/*
Assets/res/images/levelimages/*
Assets/res/levels/GoingUp/*
Assets/res/music/*
game/*
*.log
.vscode/*
